[data-tooltip] {
  position: relative;
}

[data-tooltip]::before {
  background-color: black;
  color: white;
  opacity: 0;
  pointer-events: none;
  transition: all .18s ease-out;
  border-radius: 8px;
  content: attr(data-tooltip);
  font-size: 14px;
  padding: .3em .8em;
  position: absolute;
  white-space: nowrap;
  z-index: 10;
  transform: scale(0.5);
}

[data-tooltip]:hover::before, [data-tooltip]:hover::after {
  opacity: 1;
  transform: scale(1)
}

[data-tooltip-pos="top"]::before {
  transform-origin: bottom center;
  bottom: calc(100% + 8px);
}

[data-tooltip-pos="bottom"]::before {
  transform-origin: top center;
  top: calc(100% + 8px);
}

[data-tooltip-pos="right"]::before {
  transform-origin: center left;
  left: calc(100% + 8px);
}

[data-tooltip-pos="left"]::before {
  transform-origin: center right;
  right: calc(100% + 7px);
}

/* Triangle */
[data-tooltip]::after {
  opacity: 0;
  content: "";
  position: absolute;
  transition: all .18s ease-out;
  width: 0; 
  height: 0; 
}

[data-tooltip-pos="top"]::after {
  bottom: calc(100% + 3px);
  border-top: 6px solid black;
  border-left: 6px solid transparent; 
  border-right: 6px solid transparent;
}

[data-tooltip-pos="bottom"]::after {
  top: calc(100% + 3px);
  border-bottom: 6px solid black;
  border-left: 6px solid transparent; 
  border-right: 6px solid transparent; 
}

[data-tooltip-pos="right"]::after {
  left: calc(100% + 3px);
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent; 
  border-right: 5px solid black; 
}

[data-tooltip-pos="left"]::after {
  right: calc(100% + 3px);
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent; 
  border-left: 5px solid black; 
}
